@tailwind base;
@tailwind components;
@tailwind utilities;

.menus {
  margin-top: 20px;
}
.menus li {
  margin: 30px 0px;
  /* padding: 9px; */
  display: flex;
  align-items: center;
}

.menus li:hover {
  background-color: rgb(44, 44, 44);
  cursor: pointer;
  border-radius: 5px;
}

.menus li svg {
  margin-right: 22px;
  color: #b7b7b7;
  font-size: 24px;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 80%;
}

.wrapper .container {
  padding-top: 20px;
}

@media screen and (max-width: 1243px) {
  /* CSS rules here */
  .wrapper {
    grid-template-columns: auto;
  }
  aside {
    display: none;
  }
}

@media screen and (min-width: 1244px) {
  /* CSS rules here */
  .wrapper {
    grid-template-columns: auto 80%;
  }
  aside {
    display: block !important;
  }
}
